.salesken-container {
	width: 100%
}

body {
	margin: 0
}


@media (min-width:640px) {
	.salesken-container {
		max-width: 640px
	}
}

@media (min-width:768px) {
	.salesken-container {
		max-width: 768px
	}
}

@media (min-width:1024px) {
	.salesken-container {
		max-width: 1024px
	}
}

@media (min-width:1280px) {
	.salesken-container {
		max-width: 1280px
	}
}

.flex {
	display: flex
}
.h-full {
	height: 100%
}
.flex-col {
	flex-direction: column
}
.block {
	display: block
}
.text-sm {
	font-size: .875rem
}
.mb-10 {
	margin-bottom: .5rem
}
.appearance-none {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none
}
.border {
	border-width: 1px
}
.h-50 {
	height: 50px
}
.h-40 {
	height: 40px
}
.w-full {
	width: 100%
}
.py-10 {
	padding-top: .5rem;
	padding-bottom: .5rem
}
.pl-12{
	padding-left: .75rem;
}
.px-16 {
	padding-left: 1rem;
	padding-right: 1rem
}
.text-gray-700 {
	color: #4a5568
}
.leading-tight {
	line-height: 1.25
}
.focus\:outline-none:focus {
	outline: 0
}
.bg-red-600 {
	background-color: #ed4d67
}
.hover\:bg-red-900:hover {
	background-color: #bf263f
}
.text-white {
	color: #fff
}
.font-bold {
	font-weight: 700
}
.w-95{
	width:95%;
}
.border-input{
	border: solid 1px #eeeeee;
}
.display-center{
	display: flex;
    align-items: center;
    justify-content: center;
}
.margin-0{
	margin:0px;
}
.pt-16 {
	padding-top: 1rem
}
.pl-32 {
	padding-left: 2rem
}
.pr-10 {
	padding-right: .5rem
}
.px-32 {
	padding-left: 2rem;
	padding-right: 2rem
}
.cursor-pointer{
	cursor: pointer;
}