#salesken_div {
    position: fixed !important;
    z-index: 999999 !important;
    text-align: center !important;
  
  }
  
  #salesken_divheader {
    cursor: move !important;
    z-index: 99999999 !important;
    
  }
  @font-face {
    font-family: 'salesken-medium';
    src: url(../fonts/Roboto-Medium.ttf);
    font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family: 'salesken-regular' ;
    src: url(../fonts/Roboto-Regular.ttf) ;
    font-weight: normal ;
    font-style: normal ;
    }

  
  .sken-widget-container {
      position: fixed !important;
      border-radius: 10px !important;
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      color: #000 !important;
      z-index: 1000000000000000 !important;
      width: 50px !important;
      height: 50px !important;
      font-family: salesken-regular !important;
  }
  
  .icon-shadow {
      box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.16) !important;
      background-color: #ffffff !important;
      border-radius: 10px !important;
  }
  
  .sken-chat-container {
      height: 500px !important;
      width: 333px !important;
      box-shadow: 0 3px 40px 0 rgba(0, 0, 0, 0.16) !important;
      background-color: #f9f9f9 !important;
      border-radius: 10px !important;
      font-family: salesken-regular !important;
  }
  
  .sken-chat-container>.sken-header {
      height: 62px !important;
      width: 100% !important;
      /* background-image: linear-gradient(276deg, #7e0947 112%, #ed4d67 29%); */
      border-radius: 10px 10px 0 0 !important;
      font-family: salesken-regular;
  }
  
  .sken-searchbar {
      /* height: 55px; */
      font-family: salesken-regular !important;
  }
  
  .sken-login-logout {
      background: #ffffff !important;
      display: flex !important;
      align-items: center !important;
      padding: 10px 20px !important;
  }
  
  .sken-sign-in-out-btn {
      font-size: 14px !important;
      font-family: salesken-medium !important;
      color: #ed4d67 !important;
      font-weight: 500 !important;
  }
  
  #sken-email-id {
      color: #222222 !important;
      font-size: 14px !important;
      font-family: salesken-regular !important;
  }
  
  .sken-search-box-input {
      padding: 8px 10px 8px 10px !important;
      color: #999999 !important;
      font-size: 14px !important;
      border-radius: 6px !important;
      border: solid 1px #dddddd !important;
      background-color: #ffffff !important;
      outline: none !important;
      width: 100% !important;
      font-family: salesken-medium !important;
      font-weight: 500 !important;
  }
  
  .sken-cues-body {
      display: flex !important;
      flex-direction: column !important;
      /* box-sizing: border-box !important; */
      height: 340px !important;
      background-color: #f9f9f9 !important;
      padding: 20px 15px !important;
      overflow: auto !important;
      border-radius: 0 0 10px 10px !important;
      /* display: flex; */
      /* align-items: flex-end;
      justify-content: flex-end; */
      font-family: salesken-regular !important;
  }
  
  .sken-cue-card {
      width: auto !important;
      border-radius: 8px !important;
      box-shadow: 8px 4px 40px 0 rgba(0, 0, 0, 0.15) !important;
      border: solid 1px #dddddd !important;
      background-color: #ffffff !important;
      padding: 20px !important;
      margin-bottom: 10px !important;
      font-family: salesken-regular !important;
      margin-top: auto !important;
  }
  
  .sken-cue-time {
      font-size: 12px !important;
      color: #999999 !important;
      text-align: left !important;
      font-family: salesken-regular !important;
      margin-bottom: 10px !important;
  }
  
  .sken-cue-title {
      font-size: 16px !important;
      color: #43425d !important;
      text-align: left !important;
      font-weight: 500 !important;
      font-family: salesken-medium !important;
      margin-bottom: 10px !important;
  }
  
  .sken-cue-text {
      font-size: 14px !important;
      color: #43425d !important;
      text-align: left !important;
      font-family: salesken-regular !important;
  }
  
  .sken-button-transparent {
      background: transparent;
      border: none !important;
      outline: none !important;
      padding: 3px !important;
      box-shadow: none !important;
      cursor: pointer !important;
      font-family: salesken-regular ;
  }
  
  .sken-button-theme {
      /* height: 40px !important; */
      background-color: #ed4d67 !important;
      font-size: 14px !important;
      font-family: salesken-medium !important;
      color: #ffffff !important;
      outline: none !important;
      padding-top: 10px !important;
      padding-bottom: 10px !important;
      text-align: center !important;
      vertical-align: center !important;
      margin-top: 30px !important;
      border: 0 !important;
      width: 100% !important;
      font-weight: 500 !important;
      cursor: pointer !important;
      display: inline-block !important;
      text-decoration: none !important;
  }
  
  .sken-title {
      color: #fff !important;
      padding-left: 20px !important;
      font-size: 18px !important;
      margin-bottom: 20px !important;
  }
  
  .salesken-flex {
      display: flex;
  }
  
  .salesken-flex-row {
      flex-direction: row !important;
  }
  
  .salesken-flex-column {
      flex-direction: column !important;
  }
  
  .salesken-align-center {
      align-items: center !important;
  }
  
  .f-12 {
      font-size: 12px !important;
  }
  
  .text-999 {
      color: #999999 !important;
  }
  
  .ml-auto {
      margin-left: auto !important;
  }

  .salesken-cues-highlight{
      background-color: antiquewhite !important;
  }
  .welcome-card {
    display:flex;
    width: 100%;
    justify-content: space-between;
}

.w-full{
    width:100%;
}
